<h1>Lista de Chaves</h1>

<% if @keys.count > 0 %>
	<p>Se quiser criar uma nova chave, <a href="<%= new_key_path %>">clique aqui</a></p>

	<table>
		<tr>
			<th>Código da Chave</th>
			<th>Vagas Totais</th>
			<th>Vagas Disponíveis</th>
			<th>Expiração da Chave</th>
			<th>Usuários da Chave</th>				
		</tr>
	
		<% @keys.each do |k| %>
			<tr>
				<td>
					<%= k.label %>
					(<a href="<%= register_url(k.label)%>">URL DA CHAVE</a>)
				</td>
				<td><%= k.slots %></td>
				<td><%= k.available_slots %></td>
				<td><%= k.expiration_date || '-' %></td>
				<td><a href="<%= key_users_path(k.label) %>">ver usuários</a></td>								
			</tr>
		<% end %>
	</table>
<% else %>
	<p>Não há nenhuma chave ainda, para criar uma nova chave, <a href="<%= new_key_path %>">clique aqui</a></p>
<% end %>