<!DOCTYPE html>
<html>
<head>
  <title>LuLu RPG - Veja se o seu RPGista preferido é bom assim como falam</title>
  <link rel="shortcut icon" href="<%= image_path 'favicon.png' %>">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
